<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2e.core.projectConfigurators">
		<configurator class="com.brandmaker.m2e.torque.TorqueProjectConfigurator"
		              id   ="com.brandmaker.m2e.torque.torqueConfigurator"
		              name ="Torque Project Configurator" />
	</extension>
	<extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
</plugin>
